# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments (just in case)
venv/
env/

# Ignore .env files with credentials
.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
